@page
@model CloudEncryption.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}


<!doctype html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="assets/plugins/testimonial/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/plugins/testimonial/css/owl.theme.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/moving.css"
</head>

<body>
    <!-- ***************************** Banner Starts Here *********************************-->
    <section class="container-fluid banner-container">
        <div class="container">
            <div class="row banner-row">
                <div class="col-md-6 banner-txt">
                    <h1>We Provide Secure & Fast Cloud Storage</h1>
                    <p>
                        We specialize in data obstruction, we merged our specialty with the cloud industry to create a secure cloud storage solution for your files.
                    </p>
                    <h3 class="text-cc">
                        Because we value your privacy!
                    </h3>
                    <div class="btn-row row">
                        <form action="../register">
                            <button class="btn btn-outline-primary">Create Account</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 banner-img">
                    <img class="moving-image" src="assets/images/slider.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- ***************************** Key Features Starts Here *********************************-->
    <div class="container-fluid key-featurecont">
        <div class="container">
            <div class="row key-ro">
                <div class="col-md-4 keycol">
                    <div class="key-cover">
                        <div class="logo-cc">
                            <img src="assets/images/data-transfer.svg" alt="">
                        </div>
                        <div class="text-cc">
                            <h3>High Data Security</h3>
                            <p>We offer the encryption of your data, we also encrypt the keys!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 keycol">
                    <div class="key-cover">
                        <div class="logo-cc">
                            <img src="assets/images/cloud-network.svg" alt="">
                        </div>
                        <div class="text-cc">
                            <h3>Fast bandwidth</h3>
                            <p>We offer scalable bandwidth plans for your use and interest.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- ***************************** About us Starts Here *********************************-->

    <section class="container-fluid about-coo">
        <div class="container">
            <div class="row about-row">
                <div class="col-md-5 about-img">
                    <img src="assets/images/about.png" alt="">
                </div>
                <div class="col-md-6 about-text">
                    <h1>We value your privacy!</h1>
                    <p>Some of our feautures : </p>
                    <div class="about-featur">
                        <ul>
                            <li><i class="fa fa-check"></i> Nested Encryption</li>
                            <li><i class="fa fa-check"></i> Encypted keys</li>
                            <li><i class="fa fa-check"></i> 100% uptime </li>
                            <li><i class="fa fa-check"></i> Scalable bandwidth</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>