[*.cs]

# CS0414: The field 'LocalFileHandler.mypassword' is assigned but its value is never used
dotnet_diagnostic.CS0414.severity = none

# CS0168: Variable is declared but never used
dotnet_diagnostic.CS0168.severity = silent
